@import url("https://fonts.googleapis.com/css2?family=Courgette&family=DM+Mono:wght@300;400;500&family=Dancing+Script:wght@400;500;600;700&family=Fredoka:wght@300;400;500;600;700&family=Inter:wght@200;300;400;500;600;700;800;900&family=Nanum+Pen+Script&family=Pacifico&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&family=Satisfy&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    system-ui, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji",
    Inter, Courgette, "Dancing Script", Fredoka, Pacifico, "DM Mono",
    "Nanum Pen Script", "Space Mono", Satisfy, Rubik;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --size: max(5px, 1vmin);
  --heght: 80em;
  --pad: 1.25em;
  --border-radius: 6.666em;
  --gutter: calc(var(--pad) * 2);
  --button-width: 0.333em;
  --notch-height: 3.33em;
  --notch-width: 33.3%;
  --notch-radius: calc(var(--border-radius) - calc(var(--pad) * 2));
  --notch-duration: 0.333s;
  --ease: cubic-bezier(0.666, 0, 0.4, 1);
  --ease-spring: cubic-bezier(0.666, 0, 0.4, 1.2);
  --ease-out: cubic-bezier(0.15, 0, 0.333, 1);
  --border-width: 0.4em;
  --deep-purple: 284;
  --gold: 30;
  --space-black: 215;
  --silver: 254;
  --c-h: var(--deep-purple);
  --c-s: 100%;
  --c-l: 50%;
  --bc: 60 30% 96.078%;
}

a {
  font-weight: 500;
}
a:hover {
}

body {
  margin: 0;
  font-family: Inter, Helvetica, system-ui, Segoe UI;
  place-items: center;
  max-width: 100vw;
  min-width: 320px;
  height: 100vh;
  scroll-behavior: smooth !important;
}

.card-light-shadow {
  box-shadow: 0 0 0 0.5px #e4e5e9, 0 0 0 1px #e4e5e999, 0 0 0 3.5px #f9f9fb,
    0 0 0 4px #f3f4f7;
  background-color: #ffffff;
}
.bg-background-light-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.inputs {
  /* padding-left: 1.5rem;
  padding-right: 1rem; */
  font-size: 1rem;
  line-height: 2;
  line-height: 1.5rem;
  border-width: 1px;
  border-color: hsl(var(--bc) / var(--tw-border-opacity));
  --tw-border-opacity: 0;
  --tw-bg-opacity: 1;
  /* background-color: hsl(var(--b1) / var(--tw-bg-opacity)); */
  border-radius: var(--rounded-btn, 0.5rem);
  --tw-bg-opacity: 1;
}

.buttongradient {
  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
}

.bgdash {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.bgfilterblur {
  border: 1px solid rgb(235, 238, 241);
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgba(209, 205, 205, 0.5);
  backdrop-filter: blur(10px);
}
.imageoverlaygray {
  background: linear-gradient(
    to bottom,
    rgba(89, 89, 89, 0.8) 0%,
    rgba(89, 89, 89, 0.298) 33%,
    rgba(15, 15, 15, 1) 100%
  );
}

.deepspacegradiet {
  background: #0f1417; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #293239,
    #0f1417
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #293239,
    #0f1417
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.darkskiesgradiet {
  background: #4b79a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #283e51,
    #4b79a1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #283e51,
    #4b79a1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.twitchgradiet {
  background: #6441a5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2a0845,
    #6441a5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2a0845,
    #6441a5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
